@import "../variables";
// Start app-tour & app-tour-final styles
.app-tour-navbar {
  .navbar-inner {
    .left a, .right a {
      color: $light-primary-shade;
    }
    .right a {
      font-size: 1.25em
    }
  }
}
.app-tour-page-content {
  height:100%;
  width: 100%;
  overflow: hidden;
  background-color: lighten($primary-color, 10%);
  position: relative
}
.blob-illustration, .introduction, .bottom-left-text, .bottom-right-link {
  position: absolute
}
.logo {
  position: fixed;
  top: 5vh;
  left: 0;
  width: 35vw;
  height: auto
}
.top-left-illustration {
  left: 0;
  height: 60vh;
  top: 0;
  @include css-prefix(transform, translate(-35%, -30%) scaleX(1.25) rotate(-90deg))
}
.bottom-left-illustration {
  left: 0;
  height: 50vh;
  bottom: 0;
  @include css-prefix(transform, translate(-35%, 40%) scale(1.75, 1.5))
}
.bottom-right-illustration {
  right: 0;
  height: 50vh;
  bottom: 0;
  @include css-prefix(transform, translate(30%, 50%) scaleY(-1.5))
}
.introduction{
  top:50%;
  left: 50%;
  @include css-prefix(transform, translate(-50%, -50%));
  font-weight: bold;
  line-height: 0;
  color: $secondary-color;

  p:nth-of-type(2) {
    font-size: 2.5em
  }
}
.bottom-left-text {
  bottom: 5vw;
  left: calc(var(--f7-navbar-inner-padding-left) + var(--f7-safe-area-left));
  color: $secondary-color
}
.bottom-right-link {
  bottom: 5vw;
  right: calc(var(--f7-navbar-inner-padding-right) + var(--f7-safe-area-right));
  color: $light-primary-shade;
  font: {
    weight: bold;
    size: 1.5em
  }
}

 // App tour final styling
.app-tour-final-tabs-wrap {
  background-color: lighten($primary-color, 10%);
  .blob-illustration {
    z-index: 2
  }
  .blob-illustration, .bottom-left-text, .bottom-right-link, .tour-step, .app-tour-final-navigation {
    position: fixed
  }
  .top-left-illustration {
    @include css-prefix(transform, translate(-35%, -30%) scaleX(1.5) rotate(45deg))
  }
  .bottom-left-text, .bottom-right-link, .tour-step, .app-tour-final-navigation {
    z-index: 3;
  }
  .app-final-tour-illustration {
    top:50%;
    left: 50%;
    @include css-prefix(transform, translate(-50%, -50%));
    width: auto;
    height: 30vh
  }
  .introduction {
    line-height: 1.1;
    top: 70%;
    font: {
      weight: unset;
      size: 1.5em
    }
    p {
      width: 70vw
    }
  }
  .tour-step {
    top: 20vh;
    left: 10vw;
    color: $light-primary-shade;
    font: {
      weight: bold;
      size: 1.5em
    }
  }
  .app-tour-final-navigation{
    bottom: 5vw;
    left: calc(var(--f7-navbar-inner-padding-left) + var(--f7-safe-area-left));

    a{
      &.tab-link-active, &.link-active{
        background: $secondary-color;
        @include css-prefix(transform, scale(1.5));
      }
      text-decoration: none;
      display: inline-block;
      text-align: center;
      margin: 5px;
      height: 15px;
      width: 15px;
      @include brad(50%);
      background: lighten($secondary-light-shade, 20%)
    }
  }
}

// For material design
.md {
  .app-tour-final-navigation {
    left: 16px
  }
  .bottom-right-link {
    right: 16px
  }
}

// Change height of illustration for iPhone X series
@media screen and (min-height: 750px){
  .app-tour-page-content {
    .bottom-left-illustration {
      height: 40vh
    }
  }
}
// Change font for screens other than X series
@media screen and (min-aspect-ratio: 1/2){
  .app-tour-final-tabs-wrap {
    .introduction {
      font-size: 1.2em
    }
  }
}
