@import "../variables";

.app-tour-navbar {
  .navbar-inner {
    .left a {
      color: $light-primary-shade;
    }
    .right a {
      color: $secondary-color
    }
  }
}
.app-tour-page-content {
  height:100%;
  width: 100%;
  overflow: hidden;
  background-color: lighten($primary-color, 10%);
  position: relative;

  .blob-illustration, .introduction, .bottom-left-text, .bottom-right-link {
    position: absolute
  }
  .top-left-illustration {
    left: 0;
    height: 60vh;
    top: 0;
    @include css-prefix(transform, translate(-35%, -30%) scaleX(1.5) rotate(-90deg))
  }
  .bottom-left-illustration {
    left: 0;
    height: 50vh;
    bottom: 0;
    @include css-prefix(transform, translate(-35%, 40%) scale(1.75, 1.5))
  }
  .bottom-right-illustration {
    right: 0;
    height: 50vh;
    bottom: 0;
    @include css-prefix(transform, translate(30%, 50%) scaleY(-1.5))
  }
  .introduction{
    top:50%;
    left: 50%;
    @include css-prefix(transform, translate(-50%, -50%));
    font-weight: bold;
    line-height: 0;
    color: $light-primary-shade;

    p:nth-of-type(2) {
      font-size: 2.5em;
    }
  }
  .bottom-right-link {
    bottom: 5vw;
    right: 5vw;
    color: $light-primary-shade;
    font: {
      weight: bold;
      size: 1.5em
    }
  }
  .bottom-left-text {
    bottom: 10vw;
    left: 5vw;
    color: $secondary-color
  }
}

// Change height of illustration for iPhone X series
@media screen and (min-height: 750px){
  .app-tour-page-content {
    .bottom-left-illustration {
      height: 40vh
    }
  }
}
