@import "../variables";

.gifs-page-content {
  overflow-x: hidden;
  width: 100%;

  #gifs, #gif-search-results {
    img {
      width: auto;
      max-width: 100%;
      margin-right: 5px;
      @include brad(8px)
    }
  }
}
