@import "../variables";

.gifs-page-content {
  overflow-x: hidden;
  width: 100%;

  #gifs, #gif-search-results {
    width: 100%;
    img {
      width: 95%;
      height: auto;
      margin-top: 2px;
      @include brad(8px)
    }
    .left-image {
      margin-left: 5%
    }
    .right-image {
      margin-right: 5%
    }
  }
}

.gif-options-sheet-modal .toolbar, .gif-options-sheet-modal .toolbar-inner {
  background-color: lighten($secondary-light-shade, 5%);
  @include brad(16px 16px 0 0)
}
.gif-options-sheet-modal {
  @include brad(16px 16px 0 0);
  height: min-content;

  &:before {
    display: none!important;
  }
  .sheet-modal-inner, .sheet-modal-inner .list, .sheet-modal-inner .list ul {
    background-color: $secondary-light-shade;
    color: #fff
  }
  .sheet-modal-inner .list ul {
    i {
      color: lightgray
    }
  }
  .toolbar {
    .title {
      font-weight:bold;
      display:block;
      color: #fff
    }
  }
}
