@import "../variables";

.title-logo {
  height: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
  width: auto
}

.home-page-content {
  .click-to-searchbox{
    color: $secondary-color
  }
  .or-block {
    color: $secondary-light-shade
  }
  .user-action-row {
    .card{
      height: 30vh
    }
  }
}
