@import "../variables";

.title-logo {
  height: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
  width: auto
}

.images-page-content {
  .user-action-row {
    .link {
      height: 10vh;
      @include brad(8px);

      .icon {
        font-size: 5vh;
        margin-right: 5px
      }
    }
  }
}
