@import "../variables";

.images-page-content {
  .block, .list {
    margin: 10px 0
  }
  .user-action-row {
    .link {
      @include brad(8px);

      .icon {
        font-size: 5vh;
        margin-right: 5px;
        color: $secondary-light-shade
      }
    }
  }
}
