@import "../variables";

.images-page-content {
  .user-action-row {
    .link {
      height: 10vh;
      @include brad(8px);

      .icon {
        font-size: 5vh;
        margin-right: 5px
      }
    }
  }
}
